<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d898b9c995.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/image/logo-mercado-liebre.svg" class="logo">
            <input class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </input>
            <!--<button class="boton-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>-->
        
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <h2 class="copy-header2">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
        <a href="#" class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/views/register.html">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/views/login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <!--<a href="#" class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </a>-->
    </header>
    <main>
        <form action="" method="POST" class="create-form">
            <div class="control-formulario">
                <input type="text" name="nombre-apellido" placeholder="Nombre y apellido" class="control">
            </div>
            <div class="control-formulario">
                <input type="text" name="nombre-usuario" placeholder="Nombre de usuario" class="control" required>
            </div>
            <div class="control-formulario">
                <label>Fecha de nacimiento</label>
                <input type="date" name="fecha-na" class="date" required>
            </div>
            <div class="control-formulario">
                <input type="text" name="domicilio" placeholder="domicilio" class="control">
            </div>
            <div class="control-formulario">
                <label>Perfil del usuario</label>
                <input type="radio" name="perfil" value="Comprador" class="opciones">Comprador</input>
                <input type="radio" name="perfil" value="Vendedor" class="opciones">Venderor</input> 
            </div>
            <div class="control-formulario">
                <label>Interes</label>
                <input type="checkbox" value="Electro" class="opciones">Electro</input>
                <br>
                <input type="checkbox" value="Moda" class="opciones">Moda</input>
                <br>
                <input type="checkbox" value="Hogar" class="opciones">Hogar</input>
                <br>
                <input type="checkbox" value="Jugueteria" class="opciones">Jugueteria</input>
                <br>
                <input type="checkbox" value="Vida sana" class="opciones">Vida sana</input>
            </div>
            <div class="control-formulario">
                <label>Foto de usuario</label>
                <input type="file" accept=".jpg, .png, .jpeg" class="foto-usuario">
            </div>
            <div class="control-formulario">
                <label>Contraseña</label>
                <input type="password" name="clave" class="control" required>
            </div>
            <div class="control-formulario">
                <label>Confirmar contraseña</label>
                <input type="password" name="clave" class="control" required> 
            </div>
            <button type="submit" class="boton-formulario">Enviar</button>
            <button type="reset" class="boton-formulario">Borrar</button>
        </form>
    </main>


    <footer class="main-footer">
        <div class="copy-footer">
            <i class="fa-sharp fa-solid fa-credit-card fa-sharp2"></i>
            <h3><strong>Pagá con tarjeta o efectivo</strong></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
            ¡Y siempre es seguro!
            </p>
        </div>
        <div class="copy-footer">
            <i class="fa-solid fa-gift fa-sharp2"></i>
            <h3><strong>Envío gratís desde $2.500</strong></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés activos envíos gratís en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="copy-footer">
            <i class="fa-solid fa-user-shield fa-sharp2"></i>
            <h3><strong>Seguridad, de principio a fin</strong></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </div>
        <h3 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>
</html>